body{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

nav {
  background-color: rgb(197, 132, 11);
  color: white;
  font-size: larger;
 
  display: grid;
  grid-row: 1 / span 3;

  place-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

div h1 {
  place-items: center;
  
}

h1 p {
  place-items: right;
 
}

.request-advice{
    position: absolute;
    right: 20%;
    margin: 40px auto;
    font-size: large;
    width: 100px;
    padding: 10px;
    color: white;
    background: rgb(116, 68, 6);
    border-radius: 2px;
}

.advice-container {
  background-color: rgb(31, 25, 25);
  opacity: 90%;
  display: grid;
  border-radius: 15px;
  position: relative;
  margin: 20px auto;
  height: 200px;
  width: 580px;
  padding: 20px;
  color: rgb(20, 19, 19);
  margin-top: 0em;
  font-size: 30px;
  color: rgb(253, 253, 253);
  text-align: center;
}