nav {
  background-color: rgb(197, 132, 11);
  color: white;
  font-size: larger;
  height: 80px;
  display: grid;
  place-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

div h1 {
  place-items: center;
  
}

h1 p {
  place-items: right;
 
}

.request-advice{
    position: absolute;
    right: 20%;
    margin: 40px auto;
    font-size: large;
    width: 100px;
    padding: 10px;
    color: white;
    background: rgb(116, 68, 6);
    border-radius: 2px;
}